@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

div+div{
    margin-top: 15px;
}

label{
    color: #000;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 400;
}

